@model First_Project2.Models.HallPhoto

@{
ViewData["Title"] = "Create";
Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h4>HallPhoto</h4>
<hr />

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title m-5">Add Photos </h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-6 offset-4">
                                <div class="form-group">
                                    <label asp-for="CategoryId"
                                        class="control-label font-weight-bold text-dark text-start position-relative"
                                        style="top:30px; right: 134px;">Category Name</label>
                                    <select asp-for="CategoryId" class="form-control border-dark w-75" id="category">
                                        <option>Please Select Category</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="HallId"
                                        class="control-label font-weight-bold text-dark text-start position-relative mt-4 ml-5"
                                        style="top:30px; right:150px">Hall Name</label>
                                    <select asp-for="HallId" class="form-control border-dark w-75" id="Hall">
                                        <option>Please Select Hall</option>
                                    </select>
                                </div>

                                <div class="col-md-5 mt-5 mb-5 text-center">
                                    <h5 asp-for="ImageFile" class="control-label text-center mb-4 "> Add Photo </h5>

                                    <input asp-for="ImageFile" class="image-upload" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    <div class="form-group mt-5">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/cascade.js"></script>