@model First_Project2.Models.UserInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>UserInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <partial name="_UserInfoEditPartialView"></partial>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

