@model First_Project2.Models.CategoryHall

@{
ViewData["Title"] = "Details";
Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h4>Category</h4>
<hr />

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title m-5">Category Details</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="font-weight-bold">
                                @Html.DisplayName("Category Name")
                            </h5>
                            <hr class="mb-5" />
                            <div class="font-weight-bold">
                                @Html.DisplayFor(model => model.CategoryName)
                            </div>
                        </div>
                        <div class="col-6">
                            <h5 class="font-weight-bold">
                                @Html.DisplayName("Image")
                            </h5>
                            <hr class="mb-5" />
                            <div>
                                <img src=@Url.Content("~/Images/" + Model.ImagePath ) style="border-radius:20%"
                                    width="100" height="100" />
                            </div>
                        </div>
                    </div>
                    <div class="text-left m-5">
                        <a class="btn btn-info btn-icon btn-sm w-auto p-2 text-dark" asp-action="Index">
                            Back to List
                        </a>
                        <a class="btn btn-success btn-icon btn-sm" asp-action="Edit" asp-route-id="@Model.Id">
                            <i class="fa fa-edit" style="font-size:15px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




